.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #6e87a0;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.appname {
    font-size: 45px;
}

a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 35px;
}