.og {
    background-color: #D9D9D9;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 0px;

}

.main-container {
    align-items: center;
    justify-content: space-between;
}

.flex-container {
    display: flex;
}

.flex-child {
    font-size: 45px;
    width: 50%;
}

.categorybox {
    background-color: #6ba46c;
    border: 3px solid #475445;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}

.showmore {
    background-color: #475445;
    border: 3px solid #000000;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -75px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}